body {
  margin: 0;
  font-family: "Lato", Sans-serif;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.header {
  background-color: #f69051;
  border-color: black;
  border-width: 2px 2px 2px 2px;
  box-shadow: 2px 2px 3px 1px rgba(246, 144, 81, 0.26);
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 55px;
  color: white;
}

.container {
  text-align: center;
  justify-content: center;
  padding: 30px;
  background-color: #f1faf8;
  box-shadow: 2px 2px 3px 1px rgba(246, 144, 81, 0.26);
}

#cardResult {
  margin: 20px;
  /* padding: 50px; */
  justify-content: center;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.07),
    0 5px 10px rgba(16, 70, 81, 0.1);
  border-radius: 8px 8px 8px 8px;
  background-color: #f1faf8;
  color: #000000;
}

#button {
  display: inline;
  border-radius: 8px 8px 8px 8px;
  transition: all 0.2s;
  box-shadow: 2px 2px 3px 1px rgba(246, 144, 81, 0.26);
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border-style: solid;
  border-color: #f69051;
  border-width: 2px 2px 2px 2px;
  padding: 5px 24px;
}
